h1 {
    text-align: center;
    margin: 20px 0;
}

input {
    display: block-inline;
    margin: 20px auto;
    padding: 10px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    margin: 15px;
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
}

.pokemon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.pokemon-card {
    text-align: center;
    background: #cbc4c4;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.pokemon-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.pokemon-card img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
}

.pokemon-card p {
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    background-color: #cf0e0e;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.pagination button:hover {
    background-color: #dc5656;
}

.pagination button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}
